<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
  <div class="card h-100">
    <% if costume.photo.attached? %>
      <%= cl_image_tag costume.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top img-fluid",  alt: costume.name %>
    <% else %>
      <%= image_tag "https://via.placeholder.com/400x300?text=No+Image", class: "card-img-top", alt: "No image available" %>
    <% end %>
    <div class="card-body text-center">
      <h5 class="card-title"><%= costume.name %></h5>
      <p class="card-text"><%= costume.description %></p>
      <p class="card-text"><strong>Є<%= '%.2f' % costume.price_per_day %>/day</strong></p>
      <%= link_to "View details", costume_path(costume), class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>
