<%= form_with(model: costume, local: true, html: { multipart: true }) do |form| %>
  <h2>Make a Costume</h2>

  <div>
    <%= form.label :size, "Costume Size" %><br>
    <%= form.text_field :size %>
  </div>

  <div>
    <%= form.label :name, "Costume Name" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, "Costume Description" %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price_per_day, "Price per Day (¥)" %><br>
    <%= form.number_field :price_per_day %>
  </div>

  <div>
    <%= form.label :photo, "Cover Photo" %><br>
    <%= form.file_field :photo %> <!-- for single cover photo -->
  </div>

  <div>
    <%= form.label :photos, "Additional Photos" %><br>
    <%= form.file_field :photos, multiple: true %> <!-- for multiple additional photos -->
  </div>

<div>
    <label>Wearer Type (Men & Boys)</label><br>
    <% ["Man", "Boy"].each do |wearer| %>
      <%= form.check_box :wearer_list, { multiple: true }, wearer, nil %>
      <%= wearer %><br>
    <% end %>
  </div>

  <div>
    <label>Wearer Type (Women & Girls)</label><br>
    <% ["Woman", "Girl"].each do |wearer| %>
      <%= form.check_box :wearer_list, { multiple: true }, wearer, nil %>
      <%= wearer %><br>
    <% end %>
  </div>

  <div>
    <%= form.label :category, "Category (optional)" %><br>
    <%= form.select :category,
      options_for_select([["Select a category", nil]] + Costume::CATEGORIES.map { |c| [c, c] }, costume.category),
      {},
      class: "form-control" %>
  </div>

  <%= form.submit "Create Costume" %>
<% end %>
