<div class = "container d-flex flex-column align-items-center text-center my-5">
  <h1><%= @costume.name %></h1>

  <% if @costume.photo.attached? %>
    <%= image_tag @costume.photo, class: "img-fluid rounded shadow-sm mb-4", style: "max-height: 400px;" %>
  <% end %>

<p><%= @costume.description %></p>
<p>Size: <%= @costume.size %></p>
<p><strong>Price per day: €<%= '%.2f' % @costume.price_per_day %></strong></p>

  <%= link_to "Create a Rental Request", new_costume_rental_path(@costume), class: "btn btn-primary btn-lg" %>

  <% if current_user == @costume.user %>
    <%= link_to "Delete Costume", costume_path(@costume), method: :delete,
        data: { confirm: "Are you sure you want to delete this costume?" },
        class: "btn btn-danger" %>
  <% end %>
</div>
