<h1>Request Form to Rent "<%= @costume.name %>"</h1>

<p>Price per day: <%= @costume.price_per_day %></p>

<%= simple_form_for [@costume, @rental] do |f| %>
  <div class = "form-group">
    <%= f.input :start_date, as: :date, label: "Start Date" %>
    <%= f.input :end_date, as: :date, label: "End Date" %>
  </div>

  <%= f.button :submit, "Send Rental Request", class: "btn btn-primary" %>
<% end %>
